// Place all the styles related to the Priorities controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.priority {
  width: 1em;
  height: 1em;
  display: inline-block;
  border:1px solid black;
  cursor: pointer;
}