<html>
  <head>
    <link rel="stylesheet" href="/css/styles.css">
  </head>
  <body>
    <h1>Stock Price Requester</h1>
    <nav>
      <a href="/request">Request</a>
      <a href="/">Home</a>
      <a href="/about">About</a>
    </nav>

    <%= yield %>
  </body>
</html>