%h1 Flickr
%div
  = text_field_tag 'search', nil, autofocus: true
  = button_tag 'search flickr', id: 'search_flickr'
  = button_tag 'clear', id: 'clear'
  = button_tag 'next', id: 'next'
%div#images
