<form action="/plants" method="post" >
  <label for="name">Name<input type="text" name="name" id="name"></label>
  <label for="image">Image<input type="text" name="image" id="image"></label>
  <input type="submit">
</form>