<h1>Receipt for goods/Services</h1>

<form action="/new" method="post">
  <label for="service">Service Provided
    <input type="text" id="service" name="service">
  </label>
  <label for="cost">Cost:
    <input type="text" id="cost" placeholder="0" name="cost">
  </label>
  <input type="submit">
</form>
