<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Document</title>
</head>
<body>
  <nav>
    <a href="/receipts">Home</a>
    <a href="/new">New</a>
    <a href="/stats">Stats</a>
  </nav>
  <%= yield %>
</body>
</html>