<h1>This is some crappy homepage</h1>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Officia placeat quasi ipsum modi voluptate ea magni repudiandae sed tempore corporis, sit labore hic deserunt repellat iusto id officiis voluptatum necessitatibus.
<footer>
  &copy GENERAL ASSEMBLY 2014
</footer>